[user]
	name = Remi Marche
	email = remimarche@gmail.com

[github]
	user = marr11317

[core]
	editor = code --wait
	filemode = true
	autocrlf = true

[pull]
	rebase = true

[init]
	defaultBranch = main

[grep]
	lineNumber = true

[help]
	autocorrect = 1

[alias]
	amend = commit --amend --reuse-message=HEAD
	br = branch
	ci = commit
	co = checkout
	cob = checkout -b
	contrib = shortlog --summary --numbered
	p = push
	pf = push --force
	pr = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
	st = status
	ec = config --global --edit
	pushit = push -u origin
	logl = "!f() { git log --oneline -n ${1-10}; }; f"
	undo = reset HEAD~1 --mixed
	# delete merged branches locally and on remote
	bclean = "!f() { git checkout ${1-master} && git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs git branch -d; }; f"

	# delete upstream branchs
	updel = push -d origin

	# Allow `$ git git git...`
	git = !exec git
